{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}
    <div class="card bg-light p-3 mb-2">
        <p class="mb-0 justify-content">This website provides access to pKa/pKb data from three IUPAC volumes:</p>
        <ul>
            <li><strong>Serjeant</strong>: International Union of Pure and Applied Chemistry, E. P Serjeant and Boyd Dempsey. <em>Ionisation Constants of Organic Acids in Aqueous Solution</em>; Oxford/Pergamon, 1979 (Oxford IUPAC chemical data series)</li>
            <li><strong>Perrin</strong>: International Union of Pure and Applied Chemistry, DD Perrin. <em>Dissociation Constants of Organic Bases in Aqueous Solution</em>; Butterworths, 1965</li>
            <li><strong>Perrin Supplement</strong>: International Union of Pure and Applied Chemistry, DD Perrin. <em>Dissociation Constants of Organic Bases in Aqueous Solution, Supplement</em>;  Butterworths, 1972</li>
        </ul>
        <p>To access the data select either substances or references in the menu above.</p>
    </div>
{% endblock %}